
.input-signin{
  height: 3rem;
  border: 1px solid black;
}
.auth-container{
  display: flex;
}
.auth-form-container{
  display: flex;
  flex-direction: column;
  margin: 10%;
}
.forgot-password:hover{
color: #2977C9;
text-decoration:underline;
}
.btn-sign-in{
  border-radius: 99px;
  border: none;
  background-color: #2977C9;
  color: white;
  height: 3rem;
  font-size: 20px;
}
.line-or{
  text-align: center;
}
.btn-sign-up{
  border-radius: 99px;
  height: 3rem;
  font-size: 20px;
}
.btn-sign-up:hover{
  background-color:#FBFBFB ;
}

.btn-sign-in:hover{
  background-color: #006097;
}
.error-alert{
  color: red;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(243, 242, 238);
}
.sign-container {
  width: 70%;
  margin-left: 15%;
}
.logo img {
  width: 10%;
}
.form-sign-up {
  text-align: center;
}
.title {
  font-size: 30px;
}
.form {
  text-align: center;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  padding: 20px;
  border-radius: 8px;
}
.form-input {
  display: flex;
}
.child1 {
  width: 50%;
  margin-right: 20px;
}
.child2 {
  width: 50%;
}
.form p {
  margin: 5px 0px;
  text-align: left;
}
.policy {
  font-size: 14px;
  margin: 15px 0px;
}
.input {
  width: 100%;
  height: 30px;
}
.btn-submit {
  background-color: #0a66c2;
  height: 48px;
  border-radius: 24px;
  width: 90%;
  border: none;
  color: aliceblue;
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 600;
}
.btn-submit:hover {
  cursor: pointer;
  background-color: #0959a9;
}
.vkk {
  margin-top: 20px;
  text-align: center;
}
.ul {
  display: flex;
  position: fixed;
  bottom: 5px;
  justify-content: space-between;
  list-style: none;
}
.ul li {
  padding: 10px;
}
.ul a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(125, 125, 125);
}
a {
  text-decoration: none;
  font-weight: 600;
  color: #0a66c2;
}
.validate {
  color: red;
  font-size: 14px;
  text-align: center;
}
body{
  background-color: #F3F2EF;
  overflow-y:scroll;
  overflow-x: hidden;
}
.container-nav-logo .logo-brand{
  height: 44px;
  width: 44px;
  border-radius: 5px;
}
.nav-container{
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99; 
}
 

/* .nav-fixed{
  position: fixed;
 z-index: 99;
} */


.btn-nav{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: #666666;
  text-align: center;
  cursor: pointer;
  width: 90px;
  height: 52px;
  margin-top: 4px;
}

.btn-nav:hover{
  color: #191919;
}
.container-search .search-input{
  border: none;
  background-color: #EEF3F8;
  border-radius: 5px;
  height: 44px;
  
}
.container-search .search-input:focus{
  outline: none;
}
/* .search-input:focus{
  width: 20%;
} */
@media screen and (max-width: 980px) {
  /* .btn-nav-name{display: none;}
  .sx{font-size: 80px;}
  .ava-seemore{display: none;}
  .nav-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  } */
  .feed-right-block{
    display: none;
  }

}
.container-nav-logo{
  display: flex;
  margin-top: 6px;
}
.flex{
  display: flex;
}
.container-search{
  background-color: #EEF3F8;
  display: flex;
  align-items: center;
  height: 44px;
  margin-left: 5px;
  border-radius: 5px;
}
.container-search:focus{
  outline: #191919;
}
.avatar-user{
  width: 23px;
  height: 23px;
  border-radius: 50%;
}
nav a.active{
  color: black;
  border-bottom: 1px solid black;
}
.ava-seemore{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-nav-ava{
  background-color: white;
}
.btn-profile{
  border-radius: 99px;
  text-align: center;
  border: 1px solid #0A66C2;
}
.btn-profile-inner{
  border-radius: 99px;
  border: 2px solid white;


}
.btn-profile-inner:hover{
  background-color: #E2F0FE;
  border: 2px solid #0A66C2;
}
.profile-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.list-item{
  color: #666666;
  cursor: pointer;

}
.profile-user{
  display: flex;
  align-items: center;
  height: 80px;
  /* flex-direction: row; */
}
.list-item:hover{
  text-decoration:underline;
}
.list-item-title{
  font-weight: bold;
}
.style-menu{
  padding: 10px;
}

.container-page{
  margin-top: 70px;
  
}

.btn-jobs-post{
  outline: 1px solid #0A66C2;
  border-radius: 99px;
  height: 35px;
  /* text-align: center;
  align-items: center; */
  color: #0A66C2; 
}
.btn-jobs-post-inner{
  border-radius: 99px;
  outline: 2px solid #F3F2EF;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
.btn-jobs-post-inner:hover{
  outline: 2px solid #0A66C2;
  background-color: #E2F0FE;
  
}

.job-block{
  border-radius: 10px;
  background-color: white;
  list-style-type: none;
  margin: 0px 0% 2%;
  padding: 15px;
  border: 1px solid #E0DFDC;

}
.job-block-searchjobs{
  border-radius: 10px;
  background-color: white;
  border: 1px solid #E0DFDC;
  margin: 0px 0% 2%;
  text-align: center;


}
.btn-search-jobs{
  outline: 1px solid #0A66C2;
  border-radius: 99px;
  width: 120px;
  display: flex;
  justify-content: center;
  display: inline-block;
}
.btn-search-jobs:hover{
  background-color: #E2F0FE;
  outline: 2px solid #0A66C2;
  text-decoration: underline;
}

.job-guidance{
  background-color: #F9FAFB;
}
.job-guidance:hover{
  background-color: #EEF3F8;
}
/* .left-block{
  width: 15%;

}
.right-block{
  width: 17%;
} */
.job-hoder-active-btn{
  cursor: pointer;
  display: flex;
  color: #666666;
  margin: 5px 0px 5px 0px;
}
.job-block-left{
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0px 0% 5%;
  padding: 15px;
  border: 1px solid #E0DFDC;
  
}

/* .user-block{
  height: 50px;
} */
.block{
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #E0DFDC;

}
.feed-ava{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  left: 35%;
  top:40%;
}

.background-image{
  background-color: 10px;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  /* position: absolute; */
}
.background-ava{
  position: relative;
}
.space-white{
  height: 50px;
}
.feed-name{
  margin-top: 40px;
  text-align: center;
  font-weight: 600;
}
.feed-bio{
  text-align: center;
  color: #989898 ;
}
.feed-title{
  border-top: 1px solid #F1F1F1;
  padding: 5px;
}
.feed-title:hover{
background-color:#EBEBEB;
}
.community-panel{
  color: #337FCC;
  font-weight: 500;
  padding: 5px;
}
.community-panel:hover{
  text-decoration: underline;
}
.block-community-panel{
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
  position: sticky;
  /* position: -webkit-sticky; */
  top: 10%;
  border: 1px solid #E0DFDC;

}
.footer{
  color: #9C9C9A;
  list-style-type: none;
  text-align: center;
 
  position: sticky;
  /* position: -webkit-sticky; */
  top: 10%;
}
.footer li{
  display: inline;
  padding: 0 10px 10px;
  font-size: small;

}
.footer li span:hover{
  color: #2A79C8;
  text-decoration: underline;
  
  
}
.banner-ad{
  width: 300px;
  height: 250px;
  border-radius: 10px;
  position: sticky;
  /* position: -webkit-sticky; */
  top: 10%;
}
.grid-container{
  display: flex;
  flex-wrap: wrap;
}

.grid-block-left{
  
  
}
.grid-block-right{
 
  
  }

.loading{
  position: absolute;
  top: 40%;
  left: 43%;
  
}

@keyframes ldio-b14eq8zs8qv {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(22.5deg) }
  100% { transform: rotate(45deg) }
}
.ldio-b14eq8zs8qv > div {
  transform-origin: 100px 100px;
  animation: ldio-b14eq8zs8qv 0.2s infinite linear;
}
.ldio-b14eq8zs8qv > div div {
    position: absolute;
    width: 22px;
    height: 152px;
    background: #0d7ebb;
    left: 100px;
    top: 100px;
    transform: translate(-50%,-50%);
}
.ldio-b14eq8zs8qv > div div:nth-child(1) {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.ldio-b14eq8zs8qv > div div:nth-child(6) {
    width: 80px;
    height: 80px;
    background: #ffffff;
    border-radius: 50%;
}.ldio-b14eq8zs8qv > div div:nth-child(3) {
  transform: translate(-50%,-50%) rotate(45deg)
}.ldio-b14eq8zs8qv > div div:nth-child(4) {
  transform: translate(-50%,-50%) rotate(90deg)
}.ldio-b14eq8zs8qv > div div:nth-child(5) {
  transform: translate(-50%,-50%) rotate(135deg)
}
.loadingio-spinner-gear-111t9h03y0b {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-b14eq8zs8qv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-b14eq8zs8qv div { box-sizing: content-box; }
/* generated by https://loading.io/ */
