*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #F3F2EF;
}
.logo-brand{
  height: 44px;
  width: 44px;
  border-radius: 5px;
}
.nav-container{
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99; 
}
 

/* .nav-fixed{
  position: fixed;
 z-index: 99;
} */


.btn-nav{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: #666666;
  text-align: center;
  cursor: pointer;
  width: 90px;
  height: 52px;
  margin-top: 4px;
}

.btn-nav:hover{
  color: #191919;
}
.search-input{
  border: none;
  background-color: #EEF3F8;
  border-radius: 5px;
  height: 44px;
  
}
/* .search-input:focus{
  width: 20%;
} */
@media screen and (max-width: 980px) {
  /* .btn-nav-name{display: none;}
  .sx{font-size: 80px;}
  .ava-seemore{display: none;}
  .nav-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  } */
  .feed-right-block{
    display: none;
  }

}
.container-nav-logo{
  display: flex;
  margin-top: 8px;
}
.flex{
  display: flex;
}
.container-search{
  background-color: #EEF3F8;
  display: flex;
  align-items: center;
  height: 44px;
  margin-left: 5px;
  border-radius: 5px;
}
.container-search:focus{
  outline: #191919;
}
.avatar-user{
  width: 23px;
  height: 23px;
  border-radius: 50%;
}
nav a.active{
  color: black;
  border-bottom: 1px solid black;
}
.ava-seemore{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-nav-ava{
  background-color: white;
}
.btn-profile{
  border-radius: 99px;
  border: 1px solid #0A66C2;
  text-align: center;
  
}
.btn-profile:hover{
  background-color: #E2F0FE;
  border: 2px solid #0A66C2;
}
.profile-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.list-item{
  color: #666666;

}
.profile-user{
  display: flex;
  align-items: center;
  height: 80px;
  /* flex-direction: row; */
}
.list-item:hover{
  text-decoration:underline;
}
.list-item-title{
  font-weight: bold;
}
.style-menu{
  padding: 10px;
}

.container-page{
  margin-top: 70px;
  
}

.btn-jobs-post{
  border: 1px solid #0A66C2;
  border-radius: 99px;
  height: 35px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
.btn-jobs-post:hover{
  border: 2px solid #0A66C2;
}
.job-block{
  border-radius: 10px;
  background-color: white;
  list-style-type: none;
  margin: 0px 0% 2%;
  padding: 15px;
  border: 1px solid #E0DFDC;

}
.job-block-searchjobs{
  border-radius: 10px;
  background-color: white;
  border: 1px solid #E0DFDC;
  margin: 0px 0% 2%;
  text-align: center;

}
.btn-search-jobs{
  border: 1px solid #0A66C2;
  border-radius: 99px;
  width: 120px;
  display: flex;
  justify-content: center;
}
.btn-search-jobs:hover{
  background-color: #E2F0FE;
  border: 2px solid #0A66C2;
  text-decoration: underline;
}

.job-guidance{
  background-color: #F9FAFB;
}
.job-guidance:hover{
  background-color: #EEF3F8;
}
/* .left-block{
  width: 15%;

}
.right-block{
  width: 17%;
} */
.job-hoder-active-btn{
  cursor: pointer;
  display: flex;
  color: #666666;
  margin: 5px 0px 5px 0px;
}
.job-block-left{
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0px 0% 5%;
  padding: 15px;
  border: 1px solid #E0DFDC;
  
}

/* .user-block{
  height: 50px;
} */
.block{
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #E0DFDC;

}
.feed-ava{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  left: 35%;
  top:40%;
}

.background-image{
  background-color: 10px;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  /* position: absolute; */
}
.background-ava{
  position: relative;
}
.space-white{
  height: 50px;
}
.feed-name{
  margin-top: 40px;
  text-align: center;
  font-weight: 600;
}
.feed-bio{
  text-align: center;
  color: #989898 ;
}
.feed-title{
  border-top: 1px solid #F1F1F1;
  padding: 5px;
}
.feed-title:hover{
background-color:#EBEBEB;
}
.community-panel{
  color: #337FCC;
  font-weight: 500;
  padding: 5px;
}
.community-panel:hover{
  text-decoration: underline;
}
.block-community-panel{
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
  position: sticky;
  /* position: -webkit-sticky; */
  top: 10%;
  border: 1px solid #E0DFDC;

}
.footer{
  color: #9C9C9A;
  list-style-type: none;
  text-align: center;
 
  position: sticky;
  /* position: -webkit-sticky; */
  top: 10%;
}
.footer li{
  display: inline;
  padding: 0 10px 10px;
  font-size: small;

}
.footer li span:hover{
  color: #2A79C8;
  text-decoration: underline;
  
  
}
.banner-ad{
  width: 300px;
  height: 250px;
  border-radius: 10px;
  position: sticky;
  /* position: -webkit-sticky; */
  top: 10%;
}
.grid-container{
  display: flex;
  flex-wrap: wrap;
}

.grid-block-left{
  
  
}
.grid-block-right{
 
  
  }